// Place all the styles related to the public::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/*詳細ページの実際に使ってみた感想に使用する吹き出し*/
.balloon {
    display: flex;
    align-items: center;
    position: relative;
    max-width: auto;
    margin-left: 15px;
    padding: .8em 1.2em;
    border-radius: 5px;
    background-color: #8ef28c;
    color: #333333;
}

.balloon::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #8ef28c;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}
/*ここまで*/


// 見出し
.headline {
    display: inline-block;
    position: relative;
    margin: calc(3.5em / 2) 0 calc(3.5em / 4) calc(3.5em / 2);
    color: #333333;
    line-height: 1;
}

.headline::before {
    position: absolute;
    bottom: calc(-3.5em / 4);
    left: calc(-3.5em / 2);
    z-index: -1;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: #8ef28c;
    content: '';
}
