// Place all the styles related to the public::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




/*詳細ページの実際に使ってみた感想に使用*/
.balloon-004 {
    display: flex;
    align-items: center;
    position: relative;
    max-width: auto;
    margin-left: 15px;
    padding: .8em 1.2em;
    border-radius: 5px;
    background-color: #8ef28c;
    color: #333333;
}

.balloon-004::before {
    position: absolute;
    left: -15px;
    width: 15px;
    height: 30px;
    background-color: #8ef28c;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    content: '';
}
/*ここまで*/


/*見出し緑付箋*/
// .heading-015 {
//     display: inline-block;
//     position: relative;
//     padding: .5em 1em;
//     border-right: 27px solid #25d041;
//     background-color: #f5f5f5;
//     color: #333333;
// }

// .heading-015::before {
//     position: absolute;
//     bottom: 2px;
//     right: -20px;
//     z-index: -1;
//     transform: rotate(5deg);
//     width: 100%;
//     height: 50%;
//     background-color: #d0d0d0;
//     content: "";
//     filter: blur(4px);
// }

// 見出し
.heading-029 {
    display: inline-block;
    position: relative;
    margin: calc(3.5em / 2) 0 calc(3.5em / 4) calc(3.5em / 2);
    color: #333333;
    line-height: 1;
}

.heading-029::before {
    position: absolute;
    bottom: calc(-3.5em / 4);
    left: calc(-3.5em / 2);
    z-index: -1;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background: #8ef28c;
    content: '';
}


