<!--アバウトページ-->
<div style="text-align: center">

    <h3 class="headline">★このサイトの使い方★</h3>
   　 <p>
   　    <h5>
        お掃除好きの集いはオススメのお掃除用品の実際の使用感を共有し合えるサイトです。<br>
        お掃除好きの方、これから新生活を始める方や、お掃除に苦手意識のある方、<br>
        オススメの商品を検索したい方、どの商品を購入したら良いかわからない方等、<br>
        様々な方がご利用いただけます♪<br>
        どの商品を購入したら良いかわからない方等、こちらのサイトを利用して、<br>
        ぜひ失敗のないお買い物の参考にお役立ててください♪♪<br>
        </h5>

    </p>

    <%= image_tag asset_path('topimage.jpg', :alt => '画像'),size: "800x640" %>

</div>