<!--トップページ-->
<div style="text-align: center">

  <div class="swiper-container" >
  <div class="swiper-wrapper" >
    <!--<#% [1,2,3].each do |i| %>-->
      <div class=" topimage-1 swiper-slide" ></div>
      <div class=" topimage-2 swiper-slide" ></div>
      <div class=" topimage-3 swiper-slide" ></div>

  
    <%# end %>
  </div>


  <!-- ボタンが必要な場合は追記 -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

  <!--<img src="assets/topimage1.jpg" class="topimage" width="800" height="auto" >-->
    <p>
      <h2 class="midasi">お掃除好きの集いへようこそへ♪</h2>

      <h5>このサイトは、オススメのお掃除用品を共有し合える、レビューサイトです♪<br>
      会員でない方もゲストログインでレビューの閲覧は可能です。<br>
      レビューの投稿や、コメント投稿は会員の方のみ可能です。<br>
      ぜひ会員登録をして、レビューを共有し合い、失敗のないお買い物を<br>
      するために役立ててください♪<br>
      </h5>
    </p>
</div>


<script>
  const swiper = new Swiper('.swiper-container', {
  // Optional parameters
  loop: true,
  autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },


  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});



</script>