<div style="text-align: center">

<img src="assets/Top用画像2.jpg">
  <p>
    <h2 class="heading-016">お掃除好きの集いへようこそへ♪</h2>

    <h6>このサイトは、オススメのお掃除用品を共有し合える、レビューサイトです♪<br>
    会員でない方も商品の閲覧はできますが、投稿には会員登録が必要になります。<br>
    </h6>
  </p>
</div>