<!--会員一覧画面-->
<div class="container">
  <div class="col-xs-12">
    <h3 class="headline">会員一覧画面</h3>

      <table class="table table-bordered table-condensed">
        <tr>
          <class="col-xs-2">
            <% @users.each do |user| %>
              <%= link_to admin_user_path(user.id) do %>
                <div><%= user.last_name + user.first_name %></div>
              <% end %>
            <% end %>
        </tr>
      </table>

  </div>
</div>