<!--会員退会画面-->

<div style="text-align: center">
  <div class="col-xs-12">
    <h4><strong>本当に退会しますか？</strong></h4>
    <div class="messages">
        <h5>退会すると、会員登録情報や<br>
        これまでの投稿履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </h5>
    </div>

<br>
    <%= link_to "　退会しない", edit_public_user_path(current_user), class: "btn btn-primary" %>
    <%= link_to "　退会する　", public_withdraw_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-danger" %>

  </div>
</div>