<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing</h1>
  		<%= render 'layouts/errors', obj: @item %>
  		<%= render 'form', item: @item %>
  		<%= link_to 'Show', @item %> |
  		<%= link_to 'Back', item_path, class: "back" %>
  </div>
</div>